.navbar .mega-dropdown {
  position: static !important;
  width: 100%; }

.navbar .dropdown-menu.mega-menu {
  width: 100%;
  border: none;
  border-radius: 0; }
  .navbar .dropdown-menu.mega-menu a {
    padding: 0 0 0 0; }
    .navbar .dropdown-menu.mega-menu a.news-title {
      font-weight: 500;
      font-size: 1.1rem;
      line-height: 1.5;
      -webkit-transition: .2s;
      transition: .2s;
      color: #4f4f4f !important; }
      .navbar .dropdown-menu.mega-menu a.news-title:hover {
        color: #2196f3 !important; }
      .navbar .dropdown-menu.mega-menu a.news-title.smaller {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.4; }
  .navbar .dropdown-menu.mega-menu .sub-menu a.menu-item {
    color: #4f4f4f !important; }
    .navbar .dropdown-menu.mega-menu .sub-menu a.menu-item:hover {
      color: #4f4f4f !important; }
  .navbar .dropdown-menu.mega-menu .news-single {
    margin-bottom: 1.2rem;
    border-bottom: 1px solid #e0e0e0; }
  .navbar .dropdown-menu.mega-menu .sub-title {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e0e0e0; }
  .navbar .dropdown-menu.mega-menu .p-sm {
    padding-bottom: 17px; }
  .navbar .dropdown-menu.mega-menu .m-sm {
    margin-bottom: -5px;
    font-size: 0.85rem;
    color: #2196f3 !important; }
    .navbar .dropdown-menu.mega-menu .m-sm:hover {
      color: #2196f3 !important; }
  .navbar .dropdown-menu.mega-menu .mt-sm {
    margin-top: -3px; }
  .navbar .dropdown-menu.mega-menu .font-small {
    font-size: 0.85rem; }

.navbar .mega-dropdown {
  position: static !important;
  width: 100%; }
  .navbar .mega-dropdown .dropdown-toggle.no-caret:after {
    content: none;
    border-top: 0;
    border-right: 0;
    border-left: 0; }

.navbar .dropdown-menu.mega-menu {
  width: 100%;
  border: none;
  border-radius: 0; }
  .navbar .dropdown-menu.mega-menu.v-2 a {
    padding: 15px 10px 10px 35px; }
    .navbar .dropdown-menu.mega-menu.v-2 a.news-title-2 {
      font-weight: 500;
      font-size: 1.1rem;
      line-height: 1.5;
      -webkit-transition: .2s;
      transition: .2s;
      color: #fff !important; }
      .navbar .dropdown-menu.mega-menu.v-2 a.news-title-2:hover {
        color: #d0d6e2 !important; }
  .navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul {
    list-style: none; }
    .navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul.caret-style li {
      -webkit-transition: .3s;
      transition: .3s; }
      .navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul.caret-style li:hover {
        background-color: rgba(0, 0, 0, 0.2);
        -webkit-transition: .3s;
        transition: .3s; }
      .navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul.caret-style li a:after {
        font-family: "fontAwesome";
        content: '\f0da';
        position: absolute;
        left: 0.5rem;
        font-size: 12px;
        top: 1rem; }
  .navbar .dropdown-menu.mega-menu.v-2 .sub-menu a.menu-item {
    color: #fff !important; }
    .navbar .dropdown-menu.mega-menu.v-2 .sub-menu a.menu-item:hover {
      color: #fff !important; }
  .navbar .dropdown-menu.mega-menu.v-2 .sub-title {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid; }
  .navbar .dropdown-menu.mega-menu.v-2 .font-small {
    font-size: 0.85rem; }

.navbar .mega-dropdown {
  position: static !important;
  width: 100%; }

.navbar .dropdown-menu.mega-menu {
  width: 100%;
  border: none;
  border-radius: 0; }
  .navbar .dropdown-menu.mega-menu a {
    padding: 0 0 0 0; }
    .navbar .dropdown-menu.mega-menu a.news-title-2 {
      font-weight: 500;
      font-size: 1.1rem;
      line-height: 1.5;
      -webkit-transition: .2s;
      transition: .2s;
      color: #fff !important; }
      .navbar .dropdown-menu.mega-menu a.news-title-2:hover {
        color: #d0d6e2 !important; }
  .navbar .dropdown-menu.mega-menu .sub-menu a.menu-item-2 {
    color: #fff !important; }
    .navbar .dropdown-menu.mega-menu .sub-menu a.menu-item-2:hover {
      color: #fff !important; }
  .navbar .dropdown-menu.mega-menu .sub-title {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e0e0e0; }
  .navbar .dropdown-menu.mega-menu .mt-sm {
    margin-top: -3px; }
  .navbar .dropdown-menu.mega-menu .font-small {
    font-size: 0.85rem; }
