// Accordion Extended
.accordion {
  &.accordion-1 {
    p {
      font-size: 1rem;
    }
    .card {
      border: 0;
      .card-header {
        border: 0;
      }
      .card-body {
        line-height: 1.4;
      }
    }
  }
  &.accordion-2 {
    p {
      font-size: 1rem;
    }
    .card {
      border: 0;
      background-color: transparent;
      .card-header,
      .card-body {
        border: 0;
        border-radius: 3px;
      }
    }
  }
  &.accordion-3 {
    border-radius: 3px;
    p {
      font-size: 1rem;
    }
    .fa.fa-angle-down {
      margin-top: -10px;
    }
  }
  &.accordion-4 {
    p {
      font-size: 1rem;
    }
    .card {
      border: 0;
      .card-header {
        border: 0;
      }
      .card-body {
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }
  }
  &.accordion-5 {
    p {
      font-size: 1rem;
    }
    .card {
      border: 0;
      background-color: transparent;
      .card-header {
        border: 0;
        background-color: #f44336;
        transition: .3s;
        &:hover {
          transition: .3s;
          background-color: #455a64;
        }
        .fa {
          background-color: #fff;
          border-top-left-radius: 3px;
        }
      }
      .card-body {
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }
  }
}
.gradient-background {
  background: -moz-linear-gradient(45deg, rgba(234, 21, 129, 0.6), rgba(10, 23, 187, 0.6) 100%);
  background: -webkit-linear-gradient(45deg, rgba(234, 21, 129, 0.6), rgba(10, 23, 187, 0.6) 100%);
  background: linear-gradient(to 45deg, rgba(234, 21, 129, 0.6), rgba(10, 23, 187, 0.6) 100%);
}

