.card {
	&.chat-room {
		.members-panel-1,
		.chat-1 {
			position: relative;
 			overflow-y: scroll;
		}
		.members-panel-1 {
			height: 570px;
		}
		.chat-1 {
			height: 495px;
		}
		.friend-list {
			li {
				border-bottom: 1px solid #e0e0e0;
			    &:last-of-type {
			      border-bottom: none;
			    }
			}
		}
		img {
			&.rounded-circle {
				border-radius: 50%;
			}
			&.avatar {
				height: 3rem;
				width: 3rem;
			}
		}
		.text-small {
			font-size: 0.95rem;
		}
		.text-smaller {
			font-size: 0.75rem;
		}
	}
}

.scrollbar-light-blue::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-light-blue::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-light-blue::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #82B1FF; }

.rare-wind-gradient {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
  background-image: -webkit-linear-gradient(bottom, #a8edea 0%, #fed6e3 100%);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); }