.file-field {
    &.big {
        .file-path-wrapper {
            height: 3.2rem;
            .file-path {
                height: 3rem;
            }
        }
    }
    &.medium {
        .file-path-wrapper {
            height: 3rem;
            .file-path {
                height: 2.8rem;
            }
        }
    }
    &.big-2 {
        .file-path-wrapper {
            height: 3.7rem;
            .file-path {
                height: 3.5rem;
            }
        }
    }
    .btn-floating {
        float: left;
    }
}
.card {
    &.light-version {
        .file-field {
            input[type=text] {
                border-bottom: 1px solid #fff;
                &::placeholder {
                    color: #fff;
                    font-weight: 300;
                }
                &:focus:not([readonly]) {
                    box-shadow: 0 1px 0 0 #fff;
                }
                &.valid {
                    border-bottom: 1px solid #00c851;
                    box-shadow: 0 1px 0 0 #00c851;
                }
                &:focus.valid {
                    border-bottom: 1px solid #00c851;
                    box-shadow: 0 1px 0 0 #00c851;
                }
            }
        }
    }
}
.avatar-pic {
    width: 150px;
}