// CAROUSELS PRO
.carousel-multi-item-2 {
    @media (min-width: 768px) {
        .col-md-3 {
            float: left;
            width: 25%;
            max-width: 100%;
        }
    }
    .card {
    	img {
    		border-radius: 2px;
    	}
    }
}

.gallery {
    column-count: 3;
    column-width: 33%;
    .pics {
    	transition: all 350ms ease;
    }
    .animation {
      transform: scale(1);
    }
}

.sth {
	.img-height {
		height: 250px;
	}
}

