.navbar {
	.mega-dropdown {
	  position: static !important;
	  width: 100%;
	}
	.dropdown-menu {
		&.mega-menu {
		  	width: 100%;
		  	border: none;
		  	border-radius: 0;
		  	a {
		  		padding: 0 0 0 0;
		  		&.news-title {
		  			font-weight: 500;
		  			font-size: 1.1rem;
		  			line-height: 1.5;
		  			transition: .2s;
		  			color: #4f4f4f!important;
		  			&:hover {
		  				color: #2196f3!important;
		  			}
		  			&.smaller {
		  				font-weight: 400;
		  				font-size: 1rem;
		  				line-height: 1.4;
		  			}
		  		}
		  	}
		  	.sub-menu {
		  		a {
					&.menu-item {
						color: #4f4f4f!important;
						&:hover {
							color: #4f4f4f!important;
						}
			  		}
		  		}
		  	}
		  	.news-single {
		  		margin-bottom: 1.2rem;
		  		border-bottom: 1px solid #e0e0e0;
		  	}
		  	.sub-title {
		  		padding-bottom: 0.5rem;
		  		margin-bottom: 1rem;
		  		border-bottom: 1px solid #e0e0e0;
		  	}
		  	.p-sm {
		  		padding-bottom: 17px;
		  	}
		  	.m-sm {
		  		margin-bottom: -5px;
		  		font-size: 0.85rem;
		  		color: #2196f3!important;
		  		&:hover {
	  				color: #2196f3!important;
	  			}
		  	}
		  	.mt-sm {
		  		margin-top: -3px;
		  	}
		  	.font-small {
		  		font-size: 0.85rem;
		  	}
		}
	}
}