<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Material Design for Bootstrap</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../css/mdb.css">
</head>

<body>

    <div class="container"> 

        <div class="row">
            <div class="col-md-12" id="top-section">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sit officia modi mollitia alias voluptates tempore, repellat laborum dolores reprehenderit impedit, facilis dicta dolorem est dignissimos doloribus, minus saepe libero.</p>
            </div>
            <div class="col-md-12">
                <div class="fixed-action-btn smooth-scroll">
                    <a href="#top-section" class="btn-floating btn-lg peach-gradient">
                        <i class="fa fa-arrow-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.9.9/umd/popper.js"></script>
<script src="../../js/bootstrap.js"></script>
<script src="../../js/modules/waves.js"></script>
<script src="../../js/modules/smooth-scroll.js"></script>
<script src="../../js/modules/velocity.min.js"></script>
<script src="../../js/modules/buttons.js"></script>

</body>
</html>