<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Material Design for Bootstrap</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../css/mdb.css">
</head>

<body>

    <div class="container my-5">

        <div class="row">

            <div class="col-md-12 mb-3">

                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <button type="button" class="btn btn-primary">Primary</button>

                <!-- Indicates a dangerous or potentially negative action -->
                <button type="button" class="btn btn-default">Default</button>

                <!-- Secondary, outline button -->
                <button type="button" class="btn btn-secondary">Secondary</button>

                <!-- Indicates a successful or positive action -->
                <button type="button" class="btn btn-success">Success</button>

                <!-- Contextual button for informational alert messages -->
                <button type="button" class="btn btn-info">Info</button>

                <!-- Indicates caution should be taken with this action -->
                <button type="button" class="btn btn-warning">Warning</button>

                <!-- Indicates a dangerous or potentially negative action -->
                <button type="button" class="btn btn-danger">Danger</button>
                
            </div>

            <div class="col-md-12 mb-3">

                <!--Elegant-->
                <button type="button" class="btn btn-elegant">Elegant</button>

                <!--Unique-->
                <button type="button" class="btn btn-unique">Unique</button>

                <!--Pink-->
                <button type="button" class="btn btn-pink">Pink</button>

                <!--Purple-->
                <button type="button" class="btn btn-purple">Purple</button>

                <!--Deep-purple-->
                <button type="button" class="btn btn-deep-purple">Deep-purple</button>

                <!--Indigo-->
                <button type="button" class="btn btn-indigo">Indigo</button>
                
                <!--Light blue-->
                <button type="button" class="btn btn-light-blue">Light blue</button>

                <!--Cyan-->
                <button type="button" class="btn btn-cyan">Cyan</button>
                
                <!--Dark-green-->
                <button type="button" class="btn btn-dark-green">Dark-green</button>

                <!--Light-green-->
                <button type="button" class="btn btn-light-green">Light-green</button>
                
                <!-- <button type="button" class="btn btn-lime">Lime</button> -->

                <!--Yellow-->
                <button type="button" class="btn btn-yellow">Yellow</button>

                <!--Amber-->
                <button type="button" class="btn btn-amber">Amber</button>

                <!-- <button type="button" class="btn btn-orange">Orange</button> -->

                <!--Deep-orange-->
                <button type="button" class="btn btn-deep-orange">Deep-orange</button>

                <!--Brown-->
                <button type="button" class="btn btn-brown">Brown</button>
                
                <!--MDB-->
                <button type="button" class="btn btn-mdb-color">MDB</button>

                <!--Blue-grey-->
                <button type="button" class="btn btn-blue-grey">Blue-grey</button>

            </div>

        </div>

        <div class="row">

            <div class="col-md-12 mb-3">
                
                <!-- Premium Buttons -->
                
                <button class="btn peach-gradient btn-rounded">Peach</button>
                <button class="btn purple-gradient btn-rounded">Purple</button>
                <button class="btn blue-gradient btn-rounded">Blue</button>
                <button class="btn aqua-gradient btn-rounded">Aqua</button>
             
                <!-- /.Premium Buttons -->

            </div>

            <div class="col-md-12">

                <button type="button" class="btn btn-outline-primary waves-effect">Primary</button>
                <button type="button" class="btn btn-outline-default waves-effect">Default</button>
                <button type="button" class="btn btn-outline-secondary waves-effect">Secondary</button>
                <button type="button" class="btn btn-outline-success waves-effect">Success</button>
                <button type="button" class="btn btn-outline-info waves-effect">Info</button>
                <button type="button" class="btn btn-outline-warning waves-effect">Warning</button>
                <button type="button" class="btn btn-outline-danger waves-effect">Danger</button>
                <a class="btn btn-outline-danger waves-effect">Danger</a>

            </div>

        </div>

        <div class="row mt-3">
            <div class="col-md-12">

                <a class="btn-floating btn-lg purple-gradient"><i class="fa fa-bolt"></i></a>
                <a class="btn-floating peach-gradient"><i class="fa fa-leaf"></i></a>
                <a class="btn-floating btn-sm blue-gradient"><i class="fa fa-star"></i></a>

            </div>

            <div class="col-md-12">
                
                <div class="fixed-action-btn">
                    <a class="btn-floating btn-lg aqua-gradient">
                        <i class="fa fa-pencil"></i>
                    </a>

                    <ul>
                        <li><a class="btn-floating btn-sm red"><i class="fa fa-star"></i></a></li>
                        <li><a class="btn-floating btn-sm yellow darken-1"><i class="fa fa-user"></i></a></li>
                        <li><a class="btn-floating btn-sm green"><i class="fa fa-envelope"></i></a></li>
                        <li><a class="btn-floating btn-sm blue"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="row mt-3">
            <div class="col-md-12">

                <button type="button" class="btn btn-lg btn-primary" disabled>Primary button</button>
                <button type="button" class="btn btn-secondary btn-lg" disabled>Secondary button</button>
                <button type="button" class="btn btn-pink btn-lg" disabled>Button</button>
                <button type="button" class="btn btn-flat btn-lg">Button</button>


            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">

                <a class="btn btn-primary" href="#" role="button">Link</a>
                <button class="btn btn-primary" type="submit">Button</button>
                <input class="btn btn-primary" type="button" value="Input">
                <input class="btn btn-primary" type="submit" value="Submit">
                <input class="btn btn-primary" type="reset" value="Reset">

            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">

                <div>
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-outline-primary waves-effect">Primary</button>
                </div>

                <div>
                    <button type="button" class="btn btn-primary btn-sm">Primary</button>
                    <button type="button" class="btn btn-outline-primary btn-sm waves-effect">Primary</button>
                </div>

                <div>
                    <button type="button" class="btn btn-primary btn-md">Primary</button>
                    <button type="button" class="btn btn-outline-primary btn-md waves-effect">Primary</button>
                </div>

                <div>
                    <button type="button" class="btn btn-primary btn-lg">Primary</button>
                    <button type="button" class="btn btn-outline-primary btn-lg waves-effect">Primary</button>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary active">
                    <input type="checkbox" checked autocomplete="off"> Checkbox 1 (pre-checked)
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> Checkbox 2
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> Checkbox 3
                  </label>
                </div>
            </div>    
            <div class="col-md-6">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
                  </label>
                </div>
            </div>    
        </div>

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="../../js/modules/velocity.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.9.9/umd/popper.js"></script>
<script src="../../js/bootstrap.js"></script>
<script src="../../js/modules/waves.js"></script>
<script src="../../js/modules/smooth-scroll.js"></script>
<script src="../../js/modules/buttons.js"></script>

</body>
</html>
