<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Material Design for Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../css/mdb.css">
</head>
<style>
body {
        background-color: #eee;
    }

    .card-body {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .card-data {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}


</style>

<body>
    <div class="container">


        <!--Card-->
        <div class="card card-cascade wider reverse my-4">

            <!--Card image-->
            <div class="view overlay hm-white-slight">
                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid">
                <a href="#!">
                    <div class="mask"></div>
                </a>
            </div>
            <!--/Card image-->

            <!--Card content-->
            <div class="card-body text-center">
                <!--Title-->
                <h4 class="card-title"><strong>My adventure</strong></h4>
                <h5 class="indigo-text"><strong>Photography</strong></h5>

                <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                </p>

                <!--Linkedin-->
                <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                <!--Twitter-->
                <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
                <!--Dribbble-->
                <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>

            </div>
            <!--/.Card content-->

        </div>
        <!--/.Card-->


        <div class="row mt-4 mb-5">
            <div class="col-md-4 wow fadeIn">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">Card title</h4>
                        <!--Text-->
                        <p class="card-text grey-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary btn-sm">Button</a>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>
            <div class="col-md-4 wow fadeIn">
                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="">
                        <a href="#">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">Card title</h4>
                        <!--Text-->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-light-blue">Button</a>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>
            <div class="row mb-5 mt-5">

                <div class="col-md-4">

                    <!--Card-->
                    <div class="card card-cascade wider">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg" class="img-fluid">
                            <a href="#!">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/Card image-->

                        <!--Card content-->
                        <div class="card-body text-center">
                            <!--Title-->
                            <h4 class="card-title"><strong>Alice Mayer</strong></h4>
                            <h5 class="indigo-text"><strong>Photographer</strong></h5>

                            <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam
                                rem aperiam. </p>


                            <!--Linkedin-->
                            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                            <!--Twitter-->
                            <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
                            <!--Dribbble-->
                            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>

                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->

                </div>

                <div class="col-md-4">

                    <!--Card-->
                    <div class="card card-cascade narrower">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" class="img-fluid" alt="">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-body">
                            <h5 class="pink-text"><i class="fa fa-cutlery"></i> Culinary</h5>
                            <!--Title-->
                            <h4 class="card-title">Cheat day inspirations</h4>
                            <!--Text-->
                            <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
                                ut aliquid ex ea commodi.</p>
                            <a class="btn btn-unique">Button</a>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->

                </div>

                <div class="col-md-4">

                    <!--Card-->
                    <div class="card card-cascade">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="https://mdbootstrap.com/img/Photos/Others/men.jpg" class="img-fluid" alt="">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-body text-center">
                            <!--Title-->
                            <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                            <h5>Web developer</h5>

                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere
                                modi sunt, quod quibusdam.
                            </p>

                            <!--Facebook-->
                            <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
                            <!--Twitter-->
                            <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
                            <!--Google +-->
                            <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>

                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->

                </div>

            </div>

            <div class="row mb-5">
                <div class="col-md-4">

                    <!--Card-->
                    <div class="card card-cascade narrower">

                        <!--Card image-->
                        <div class="view gradient-card-header purple-gradient">
                            <h2 class="h2-responsive">Mattonit</h2>
                            <p>The Boar</p>
                            <div class="text-center">
                                <!--Facebook-->
                                <a type="button" class="btn-floating btn-small"><i class="fa fa-facebook"></i></a>
                                <!--Twitter-->
                                <a type="button" class="btn-floating btn-small"><i class="fa fa-twitter"></i></a>
                                <!--Google +-->
                                <a type="button" class="btn-floating btn-small"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                        <!--/Card image-->

                        <!--Card content-->
                        <div class="card-body text-center">

                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere
                                modi sunt, quod quibusdam dignissimos neque rem nihil ratione est placeat vel, natus non
                                quos laudantium veritatis sequi.Ut enim ad minima veniam, quis nostrum exercitationem ullam
                                corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>


                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->


                </div>

                <div class="col-md-4">

                    <!--Card-->
                    <div class="card card-cascade wider">

                        <!--Card image-->
                        <div class="view gradient-card-header peach-gradient">
                            <h2 class="h2-responsive mb-2">Title of the news</h2>
                            <p class=""><i class="fa fa-calendar"></i> 26.07.2017</p>

                        </div>
                        <!--/Card image-->

                        <!--Card content-->
                        <div class="card-body text-center">

                            <p class="card-text mr-2 ml-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere
                                modi sunt, quod quibusdam dignissimos neque rem nihil ratione est placeat vel, natus non
                                quos laudantium veritatis sequi.Ut enim ad minima veniam, quis nostrum.</p>

                            <a href="#" class="orange-text mt-1 d-flex flex-row-reverse">
                                <h5 class="waves-effect p-2">Read more <i class="fa fa-chevron-right"></i></h5>
                            </a>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->

                </div>

                <div class="col-md-4">

                    <!--Card-->
                    <div class="card card-cascade">

                        <!--Card image-->
                        <div class="view gradient-card-header blue-gradient">
                            <h2 class="h2-responsive">Marta</h2>
                            <p>Deserve for her own card</p>
                        </div>
                        <!--/Card image-->

                        <!--Card content-->
                        <div class="card-body text-center">

                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere
                                modi sunt, quod quibusdam dignissimos neque rem nihil ratione est placeat vel, natus non
                                quos laudantium veritatis sequi.Ut enim ad minima veniam, quis nostrum exercitationem ullam
                                corporis suscipit laboriosam.</p>
                            <hr>
                            <!--Twitter-->
                            <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
                            <!--Linkedin-->
                            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                            <!--Facebook-->
                            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
                            <!--Email-->
                            <a class="icons-sm email-ic"><i class="fa fa-envelope"> </i></a>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->

                </div>
            </div>



            <div class="row mb-5">
                <div class="col-md-5">

                    <!--Card Light-->
                    <div class="card">
                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28131%29.jpg" class="img-fluid" alt="">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->
                        <!--Card content-->
                        <div class="card-body">
                            <!--Social shares button-->
                            <a class="activator"><i class="fa fa-share-alt"></i></a>
                            <!--Title-->
                            <h4 class="card-title">Card title</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="black-text d-flex flex-row-reverse">
                                <h5 class="waves-effect p-2">Read more <i class="fa fa-chevron-right"></i></h5>
                            </a>
                        </div>
                        <!--/.Card content-->
                    </div>
                    <!--/.Card Light-->

                </div>
                <div class="col-md-5">

                    <!--Card Dark-->
                    <div class="card card-dark">
                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" class="img-fluid" alt="">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->
                        <!--Card content-->
                        <div class="card-body">
                            <!--Social shares button-->
                            <a class="activator"><i class="fa fa-share-alt white-text"></i></a>
                            <!--Title-->
                            <h4 class="card-title">Card title</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text white-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="d-flex flex-row-reverse">
                                <h5 class="waves-effect waves-light p-2">Read more <i class="fa fa-chevron-right"></i></h5>
                            </a>
                        </div>
                        <!--/.Card content-->
                    </div>
                    <!--/.Card Dark-->

                </div>
            </div>

            <div class="row mb-5">
                <div class="col-md-5">

                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" class="img-fluid" alt="">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->

                        <!--Button-->
                        <a class="btn-floating btn-action"><i class="fa fa-chevron-right"></i></a>

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Card title</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <!--/.Card content-->

                        <!-- Card footer -->
                        <div class="card-data">
                            <ul class="list-unstyled">
                                <li class="ml-0"><i class="fa fa-clock-o ml-0 pl-0"></i> 05/10/2015</li>
                                <li><a href="#"><i class="fa fa-comments-o ml-3"></i>12</a></li>
                                <li><a href="#"><i class="fa fa-facebook"> </i>21</a></li>
                                <li><a href="#"><i class="fa fa-twitter"> </i>5</a></li>
                            </ul>
                        </div>
                        <!-- Card footer -->

                    </div>
                    <!--/.Card-->

                </div>

                <div class="col-md-5">

                    <!--Card-->
                    <div class="card testimonial-card">

                        <!--Bacground color-->
                        <div class="card-up indigo lighten-1">
                        </div>

                        <!--Avatar-->
                        <div class="avatar"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle img-responsive">
                        </div>

                        <div class="card-body">
                            <!--Name-->
                            <h4 class="card-title">Anna Doe</h4>
                            <hr>
                            <!--Quotation-->
                            <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
                                adipisci</p>
                        </div>

                    </div>
                    <!--/.Card-->


                </div>
            </div>

            <div class="row mb-5 w-100">
                <div class="col-md-5">

                    <!--Card-->
                    <div class="card testimonial-card">

                        <!--Bacground color-->
                        <div class="card-up aqua-gradient">
                        </div>

                        <!--Avatar-->
                        <div class="avatar"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-responsive">
                        </div>

                        <div class="card-body">
                            <!--Name-->
                            <h4 class="card-title">Martha Smith</h4>
                            <hr>
                            <!--Quotation-->
                            <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
                                adipisci</p>
                        </div>

                    </div>
                    <!--/.Card-->


                </div>

                <div class="col-md-5">
                    <!--Rotating card-->
                    <div class="card-wrapper">
                        <div id="card-1" class="card-rotating effect__click">

                            <!--Front Side-->
                            <div class="face front">

                                <!-- Image-->
                                <div class="card-up">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28132%29.jpg" class="img-fluid">
                                </div>
                                <!--Avatar-->
                                <div class="avatar"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2820%29.jpg" class="rounded-circle img-responsive">
                                </div>
                                <!--Content-->
                                <div class="card-body">
                                    <h4>Natalie Doe</h4>
                                    <p>Web developer</p>
                                    <!--Triggering button-->
                                    <a class="rotate-btn" data-card="card-1"><i class="fa fa-repeat"></i> <strong>Click here to rotate</strong></a>
                                </div>
                            </div>
                            <!--/.Front Side-->

                            <!--Back Side-->
                            <div class="face back">

                                <!--Content-->
                                <h4 class="pt-3">About me</h4>
                                <hr>
                                <p class="card-text pt-1 pb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere
                                    modi sunt, quod quibusdam dignissimos neque rem nihil ratione est placeat vel, natus
                                    non quos laudantium veritatis sequi.Ut enim ad minima veniam, quis nostrum exercitationem
                                    ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi. </p>
                                <hr>
                                <!--Social Icons-->
                                <!--Facebook-->
                                <button type="button" class="btn btn-fb btn-sm"><i class="fa fa-facebook"></i></button>
                                <!--Twitter-->
                                <button type="button" class="btn btn-tw btn-sm"><i class="fa fa-twitter"></i></button>
                                <!--Google +-->
                                <button type="button" class="btn btn-gplus btn-sm"><i class="fa fa-google-plus"></i></button>
                                <!--Linkedin-->
                                <button type="button" class="btn btn-li btn-sm"><i class="fa fa-linkedin"></i></button>
                                <hr>
                                <!--Triggering button-->
                                <a class="rotate-btn" data-card="card-1"><i class="fa fa-undo"></i> Click here to rotate back</a>

                            </div>
                            <!--/.Back Side-->

                        </div>
                    </div>
                    <!--/.Rotating card-->
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-md-5">

                    <!--Card-->
                    <div class="card">
                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->
                        <!--Social buttons-->
                        <div class="card-share">
                            <div class="social-reveal">
                                <!--Facebook-->
                                <a type="button" class="btn-floating btn-fb"><i class="fa fa-facebook"></i></a>
                                <!--Twitter-->
                                <a type="button" class="btn-floating btn-tw"><i class="fa fa-twitter"></i></a>
                                <!--Google -->
                                <a type="button" class="btn-floating btn-gplus"><i class="fa fa-google-plus"></i></a>
                            </div>
                            <a class="btn-floating btn-action share-toggle success-color float-right"><i class="fa fa-share-alt"></i></a>
                        </div>
                        <!--/Social buttons-->
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Card title</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="text-center">
                                <a class="btn btn-success btn-rounded">Read more</a>
                            </div>
                        </div>
                        <!--/.Card content-->
                    </div>
                    <!--/.Card-->

                </div>

                <div class="col-md-5">
                    <!--Card-->
                    <div class="card ovf-hidden">
                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="https://mdbootstrap.com/img/Photos/Others/nature-sm.jpg" class="img-fluid" alt="">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->
                        <!--Card content-->
                        <div class="card-body">
                            <!--Social shares button-->
                            <a class="activator"><i class="fa fa-share-alt"></i></a>
                            <!--Title-->
                            <h4 class="card-title">Card title</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="link-text">
                                <h5>Read more <i class="fa fa-chevron-right"></i></h5>
                            </a>
                        </div>
                        <!--/.Card content-->
                        <!--Card reveal-->
                        <div class="card-reveal">
                            <!--Content-->
                            <div class="content text-center">
                                <h4 class="card-title">Social shares <i class="fa fa-close"></i></h4>
                                <hr>
                                <!--Social Icons-->
                                <ul class="inline-ul">
                                    <li><a class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a></li>
                                    <li><a class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"> </i></a></li>
                                    <li><a class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
                                    <li><a class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></a></li>
                                    <li><a class="btn-floating btn-small btn-git"><i class="fa fa-github"> </i></a></li>
                                </ul>
                                <h5>Join our community</h5>
                                <hr>
                                <!--Social Icons-->
                                <ul class="inline-ul">
                                    <li><a class="btn btn-fb"><i class="fa fa-facebook"> </i></a></li>
                                    <li><a class="btn btn-tw"><i class="fa fa-twitter"> </i></a></li>
                                    <li><a class="btn btn-li"><i class="fa fa-linkedin"> </i></a></li>
                                </ul>
                            </div>
                            <!--/.Content-->
                        </div>
                        <!--/.Card reveal-->
                    </div>
                    <!--/.Card-->
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
                        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                            <div>
                                <h5 class="pink-text"><i class="fa fa-pie-chart"></i><strong> Marketing</strong></h5>
                                <h3 class="card-title py-3 font-bold"><strong>This is card title</strong></h3>
                                <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                                    Odit sed qui, dolorum!</p>
                                <a class="btn btn-pink btn-rounded"><i class="fa fa-clone left"></i> View project</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg');">
                        <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
                            <div>
                                <h5 class="orange-text"><i class="fa fa-desktop"></i><strong> Software</strong></h5>
                                <h3 class="card-title py-3 font-bold"><strong>This is card title</strong></h3>
                                <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                                    Odit sed qui, dolorum!</p>
                                <a class="btn btn-deep-orange btn-rounded"><i class="fa fa-clone left"></i> View project</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">

                <div class="col">
                    <!--Card-->
                    <div class="card ovf-hidden">
                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="https://mdbootstrap.com/img/Photos/Others/img%20%2838%29.jpg" class="img-fluid" alt="">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->
                        <!--Card content-->
                        <div class="card-body">
                            <!--Social shares button-->
                            <a class="activator"><i class="fa fa-share-alt"></i></a>
                            <!--Title-->
                            <h4 class="card-title">Card title</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="link-text">
                                <h5>Read more <i class="fa fa-chevron-right"></i></h5>
                            </a>
                        </div>
                        <!--/.Card content-->
                        <!--Card reveal-->
                        <div class="card-reveal">
                            <!--Content-->
                            <div class="content text-center">
                                <h4 class="card-title">Social shares <i class="fa fa-close"></i></h4>
                                <hr>
                                <!--Social Icons-->
                                <ul class="inline-ul">
                                    <li><a class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a></li>
                                    <li><a class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a></li>
                                    <li><a class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
                                    <li><a class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></a></li>
                                    <li><a class="btn-floating btn-small btn-git"><i class="fa fa-github"> </i></a></li>
                                    <li><a class="btn-floating btn-small btn-pin"><i class="fa fa-pinterest"> </i></a></li>
                                    <li><a class="btn-floating btn-small btn-ins"><i class="fa fa-instagram"> </i></a></li>
                                </ul>
                                <h5>Join our community</h5>
                                <hr>
                                <!--Social Icons-->
                                <ul class="inline-ul">
                                    <li><a class="btn btn-fb"><i class="fa fa-facebook"> </i></a></li>
                                    <li><a class="btn btn-tw"><i class="fa fa-twitter"> </i></a></li>
                                    <li><a class="btn btn-li"><i class="fa fa-linkedin"> </i></a></li>
                                    <li><a class="btn btn-ins"><i class="fa fa-instagram"> </i></a></li>
                                </ul>
                            </div>
                            <!--/.Content-->
                        </div>
                        <!--/.Card reveal-->
                    </div>
                    <!--/.Card-->

                </div>


                <div class="col">
                    <!--Rotating card-->
                    <div class="card-wrapper">
                        <div id="card-2" class="card-rotating effect__click">

                            <!--Front Side-->
                            <div class="face front card">

                                <!-- Image-->
                                <div class="card-up">
                                    <div class="view overlay hm-white-slight">
                                        <img src="https://mdbootstrap.com/img/Photos/Others/img%20%2839%29.jpg" class="img-fluid" alt="">
                                        <a>
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                </div>
                                <!--/.Image-->

                                <!--Content-->
                                <div class="content">
                                    <a class="rotate-btn" data-card="card-2"><i class="fa fa-share-alt"></i></a>
                                    <h4>Card title</h4>
                                    <hr>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat tenetur odio suscipit
                                        non commodi vel eius veniam maxime.</p>

                                    <a class="link-text">
                                        <h6>Read more <i class="fa fa-chevron-right"></i></h6>
                                    </a>
                                </div>
                                <!--/.Content-->

                            </div>
                            <!--/.Front Side-->

                            <!--Back Side-->
                            <div class="face back">

                                <!--Title-->
                                <h4 class="card-title">Social shares <i class="fa fa-close rotate-btn" data-card="card-2"></i> </h4>
                                <hr>

                                <!--Social Icons-->
                                <ul class="inline-ul">
                                    <li><a class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a></li>
                                    <li><a class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a></li>
                                    <li><a class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
                                    <li><a class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></a></li>
                                    <li><a class="btn-floating btn-small btn-git"><i class="fa fa-github"> </i></a></li>
                                    <li><a class="btn-floating btn-small btn-pin"><i class="fa fa-pinterest"> </i></a></li>
                                    <li><a class="btn-floating btn-small btn-ins"><i class="fa fa-instagram"> </i></a></li>
                                </ul>

                                <h5>Join our community</h5>
                                <hr>

                                <!--Social Icons-->
                                <ul class="inline-ul">
                                    <li><a class="btn btn-fb"><i class="fa fa-facebook"> </i></a></li>
                                    <li><a class="btn btn-tw"><i class="fa fa-twitter"> </i></a></li>
                                    <li><a class="btn btn-li"><i class="fa fa-linkedin"> </i></a></li>
                                    <li><a class="btn btn-ins"><i class="fa fa-instagram"> </i></a></li>
                                </ul>

                            </div>
                            <!--/.Back Side-->

                        </div>
                    </div>
                    <!--/.Rotating card-->

                </div>

            </div>

            <div class="row mt-3">

                <div class="card-columns">
                    <div class="card">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20%2834%29.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title that wraps to a new line</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.
                                This content is a little bit longer.</p>
                        </div>
                    </div>
                    <div class="card p-3">
                        <blockquote class="card-body card-blockquote">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer>
                                <small class="text-muted">
                      Someone famous in <cite title="Source Title">Source Title</cite>
                    </small>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img (34).jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card card-inverse peach-gradient p-3 text-center">
                        <blockquote class="card-blockquote">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                            <footer>
                                <small>
                      Someone famous in <cite title="Source Title">Source Title</cite>
                    </small>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="card text-center">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img" src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20%2849%29.jpg" alt="Card image">
                    </div>
                    <div class="card p-3 text-right">
                        <blockquote class="card-blockquote">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer>
                                <small class="text-muted">
                      Someone famous in <cite title="Source Title">Source Title</cite>
                    </small>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This
                                card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline-primary mb-3 text-center">
                      <div class="card-body">
                        <blockquote class="card-blockquote">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                          <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                      </div>
                    </div>
                    <div class="card card-outline-secondary mb-3 text-center">
                      <div class="card-body">
                        <blockquote class="card-blockquote">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                          <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                      </div>
                    </div>
                    <div class="card card-outline-success mb-3 text-center">
                      <div class="card-body">
                        <blockquote class="card-blockquote">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                          <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                      </div>
                    </div>
                    <div class="card card-outline-info mb-3 text-center">
                      <div class="card-body">
                        <blockquote class="card-blockquote">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                          <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                      </div>
                    </div>
                    <div class="card card-outline-warning mb-3 text-center">
                      <div class="card-body">
                        <blockquote class="card-blockquote">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                          <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                      </div>
                    </div>
                    <div class="card card-outline-danger text-center">
                      <div class="card-body">
                        <blockquote class="card-blockquote">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                          <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                      </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                                        
                    <div class="card text-center">
                      <div class="card-header">
                        Featured
                      </div>
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                      <div class="card-footer text-muted">
                        2 days ago
                      </div>
                    </div>

                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12">
                    

<!--Card-->
<div class="card ovf-hidden">
    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28108%29.jpg" class="img-fluid" alt="">
        <a>
            <div class="mask waves-effect waves-light"></div>
        </a>
    </div>
    <!--/.Card image-->
    <!--Card content-->
    <div class="card-body">
        <!--Social shares button-->
        <a class="activator"><i class="fa fa-share-alt"></i></a>
        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <hr>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a class="link-text"><h5>Read more <i class="fa fa-chevron-right"></i></h5></a>
    </div>
    <!--/.Card content-->
    <!--Card reveal-->
    <div class="card-reveal">
        <!--Content-->
        <div class="content text-center">
            <h4 class="card-title">Social shares <i class="fa fa-close"></i></h4>
            <hr>
            <!--Social Icons-->
            <ul class="inline-ul">
                <li><a class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a></li>
                <li><a class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a></li>
                <li><a class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
                <li><a class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></a></li>
                <li><a class="btn-floating btn-small btn-git"><i class="fa fa-github"> </i></a></li>
                <li><a class="btn-floating btn-small btn-pin"><i class="fa fa-pinterest"> </i></a></li>
                <li><a class="btn-floating btn-small btn-ins"><i class="fa fa-instagram"> </i></a></li>
            </ul>
            <h5>Join our community</h5>
            <hr>
            <!--Social Icons-->
            <ul class="inline-ul">
                <li><a class="btn btn-fb"><i class="fa fa-facebook"> </i></a></li>
                <li><a class="btn btn-tw"><i class="fa fa-twitter"> </i></a></li>
                <li><a class="btn btn-li"><i class="fa fa-linkedin"> </i></a></li>
                <li><a class="btn btn-ins"><i class="fa fa-instagram"> </i></a></li>
            </ul>
        </div>
        <!--/.Content-->
    </div>
    <!--/.Card reveal-->
</div>
<!--/.Card-->

                </div>
            </div>

        </div>

        <br>
        <br>
        <br>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
        <script src="../../js/popper.min.js"></script>
        <script src="../../js/modules/velocity.min.js"></script>
        <script src="../../js/bootstrap.js"></script>
        <script src="../../js/modules/cards.js"></script>
        <script src="../../js/modules/card-reveal.js"></script>
        <script src="../../js/modules/waves.js"></script>
        <script src="../../js/modules/wow.js"></script>

        <script>
            wow = new WOW().init();

            //Social reveal
$(document).ready(function ($) {

    $('.card-share > a').on('click', function (e) {
        e.preventDefault() // prevent default action - hash doesn't appear in url
        $(this).parent().find('div').toggleClass('social-reveal-active');
        $(this).toggleClass('share-expanded');
    });
});
        </script>

</body>

</html>