<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Material Design for Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../css/mdb.css">
</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      For example, <code>&lt;section&gt;</code> should be wrapped as inline.
    </div>

    <div class="col-md-12 mt-5">
      
<pre><code>&lt;p&gt;Sample text here...&lt;/p&gt;
&lt;p&gt;And another line of sample text here...&lt;/p&gt;
</code></pre>

    </div>
    <div class="col-md-12 mt-5">
      
      <var>y</var> = <var>m</var><var>x</var> + <var>b</var>

    </div>
    <div class="col-md-12 mt-5">
      
To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>

    </div>
    <div class="col-md-12 mt-5">
      
<samp>This text is meant to be treated as sample output from a computer program.</samp>

    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="../../js/bootstrap.js"></script>

</body>

</html>
