<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design for Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../css/mdb.css">
</head>
<style>
    .page-footer{
        line-height: 1.5;
    }
    
/*
    .icons-sm {
    font-size: 1.7rem;
    }
*/

    </style>
<body>

    <!--Main Navigation-->
    <header>
    
    
    
    </header>
    <!--Main Navigation-->
    
    <!--Main Layout-->
    <main>
    
    <div style="height: 478px;"></div>
    
    </main>
    <!--Main Layout-->
    
    
<!--Footer-->
<footer class="page-footer center-on-small-only stylish-color-dark">

    <!--Footer Links-->
    <div class="container">
        <div class="row">

            <!--First column-->
            <div class="col-md-3 offset-md-1 col-12">
                <h5 class="title mb-3">Footer Content</h5>
                <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <!--/.First column-->

            <hr class="hidden-md-up">

            <!--Second column-->
            <div class="col-md-2 offset-md-1 col-12">
                <h5 class="title mb-3">Links</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="hidden-md-up">

            <!--Third column-->
            <div class="col-md-2 col-12">
                <h5 class="title mb-3">Links</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Third column-->

            <hr class="hidden-md-up">

            <!--Fourth column-->
            <div class="col-md-2 col-12">
                <h5 class="title mb-3">Links</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <hr>

    <!--Call to action-->
    <div class="call-to-action">
        <ul>
            <li>
                <h5 class="mb-1">Register for free</h5></li>
            <li><a href="" class="btn btn-danger btn-rounded">Sign up!</a></li>
        </ul>
    </div>
    <!--/.Call to action-->

    <hr>

    <!--Social buttons-->
    <div class="social-section text-center">
        <ul>
            
            <li><a class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a></li>
            <li><a class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a></li>
            <li><a class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
            <li><a class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></a></li>
            <li><a class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"> </i></a></li>
          
        </ul>
    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

<div style="height: 100px;"></div>

<!--Footer-->

        <footer class="page-footer indigo center-on-small-only  pt-0">

            <!--Footer Links-->
            <div class="container">

                <!--First row-->
                <div class="row">

                    <!--First column-->
                    <div class="col-md-12 wow fadeIn" data-wow-delay="0.3s">

                        <div class="footer-socials mb-5 flex-center">

                            <!--Facebook-->
                            <a class="icons-sm fb-ic"><i class="fa fa-facebook fa-lg white-text mr-4"> </i></a>
                            <!--Twitter-->
                            <a class="icons-sm tw-ic"><i class="fa fa-twitter fa-lg white-text mr-4"> </i></a>
                            <!--Google +-->
                            <a class="icons-sm gplus-ic"><i class="fa fa-google-plus fa-lg white-text mr-4"> </i></a>
                            <!--Linkedin-->
                            <a class="icons-sm li-ic"><i class="fa fa-linkedin fa-lg white-text mr-4"> </i></a>
                            <!--Instagram-->
                            <a class="icons-sm ins-ic"><i class="fa fa-instagram fa-lg white-text mr-4"> </i></a>
                            <!--Pinterest-->
                            <a class="icons-sm pin-ic"><i class="fa fa-pinterest fa-lg white-text"> </i></a>
                        </div>
                    </div>
                    <!--/First column-->
                </div>
                <!--/First row-->
            </div>
    <!--/Footer Links-->
            
    <!--Copyright-->
    <div class="footer-copyright wow fadeIn" data-wow-delay="0.3s">
        <div class="container-fluid">
            © 2016 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>

        </div>
    </div>
    <!--/Copyright-->

    </footer>
    <!--/Footer-->
    
    
    <div style="height: 100px;"></div>

<!--Footer-->

        <footer class="page-footer elegant-color center-on-small-only">

            <!--Footer Links-->
            <div class="container">

                <!--First row-->
                <div class="row mt-3 mb-4">

                    <!--Grid column-->
                    <div class="col-md-4">
                        <h5 class="h5-responsive font-bold">MDBootstrap</h5>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                     <div class="col-md-1 text-center">
                         <h6 class="h6-responsive font-bold">ABOUT</h6>
                    </div>
                     <!--Grid column-->
                    
                    
                    <!--Grid column-->
                     <div class="col-md-1 text-center">
                         <h6 class="h6-responsive font-bold">CONTACT</h6>
                    </div>
                     <!--Grid column-->

                    <!--Grid column-->
                     <div class="col-md-1 text-center">
                         <h6 class="h6-responsive font-bold">BLOG</h6>
                    </div>
                     <!--Grid column-->
                    
                    <!--Grid column-->
                     <div class="col-md-1 text-center">
                         <h6 class="h6-responsive font-bold">TEAM</h6>
                    </div>
                     <!--Grid column-->
                    
                    <!--Graid column-->
                    <div class="col-md-4 wow fadeIn" data-wow-delay="0.3s">

                        <div class="footer-socials  text-right">

                            <!--Facebook-->
                            <a class="icons-sm fb-ic"><i class="fa fa-facebook white-text"> </i></a>
                            <!--Twitter-->
                            <a class="icons-sm tw-ic"><i class="fa fa-twitter white-text"> </i></a>
                            <!--Google +-->
                            <a class="icons-sm gplus-ic"><i class="fa fa-google-plus white-text"> </i></a>
                            <!--Linkedin-->
                            <a class="icons-sm li-ic"><i class="fa fa-linkedin white-text"> </i></a>
                        </div>
                    </div>
                    <!--/Grid column-->
                
                </div>
                <!--/First row-->
            </div>
    <!--/Footer Links-->
            
    <!--Copyright-->
    <div class="footer-copyright wow fadeIn" data-wow-delay="0.3s">
        <div class="container-fluid">
            © 2016 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>

        </div>
    </div>
    <!--/Copyright-->

    </footer>
    <!--/Footer-->
    
    
    
    <div style="height: 100px;"></div>

<!--Footer-->
<footer class="page-footer center-on-small-only  mdb-color lighten-3">

    <!--Footer Links-->
    <div class="container">
        <div class="row mt-1 mb-1">

            <!--First column-->
            <div class="col-md-4">
                <h5 class="title mb-4 font-bold">Footer Content</h5>
                <p align="justify">Here you can use rows and columns here to organize your footer content.</p>
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum. </p>
            </div>
            <!--/.First column--> 

            <!--Second column-->
            <div class="col-md-2 ml-auto">
                <h5 class="title mb-4 font-bold">About</h5>
                <ul>
                    <p><a href="#!">PROJECTS</a></p>
                    <p><a href="#!">ABOUT US</a></p>
                    <p><a href="#!">BLOG</a></p>
                    <p><a href="#!">AWARDS</a></p>
                </ul>
            </div>
            <!--/.Second column-->
            
            
            <!--Third column-->
            <div class="col-md-3">
                <h5 class="title mb-4 font-bold">Adress</h5>
                 <!--Info-->
                    <p><i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
                    <p><i class="fa fa-envelope mr-3"></i> info@example.com</p>
                    <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
                    <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
            <!--/.Third column-->
            
             <!--Fourth column-->
            <div class="col-md-2 text-center">
                <h5 class="title mb-4 font-bold">Follow Us</h5>
                 <!--Social buttons-->
                    <div class="social-section mt-2 ">
                        <!--Facebook-->
                        <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
                        <!--Twitter-->
                        <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
                        <!--Google +-->
                        <a type="button" class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"></i></a>
                        <!--Dribbble-->
                        <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>
                    </div>
            </div>
            <!--/.Fourth column-->
            
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="../../js/bootstrap.js"></script>
</body>
</html>