<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Material Design for Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../css/mdb.css">

    <style>
        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 1000px white inset !important;
        }
    </style>
</head>

<body>

<div class="container">
    <h4 class="my-2">Inputs</h4>

    <!--Grid row-->
    <div class="row">
    
        <!--Grid column-->
        <div class="col-md-5">

        <form>

            <fieldset class="md-form">
                <input type="text" id="form-basic" class="form-control" autofocus>
                <label for="form-basic" class="">Basic (Autofocus)</label>
            </fieldset>

            <fieldset class="md-form">
                <input type="text" id="form-basic" class="form-control" disabled>
                <label for="form-basic" class="">Disabled</label>
            </fieldset>

            <fieldset class="md-form">
                <i class="fa fa-plane prefix"></i>
                <input type="text" id="form-prefixed" class="form-control">
                <label for="form-prefixed">Prefixed</label>
            </fieldset>

            <fieldset class="md-form">
                <input type="text" id="form-placeholder" class="form-control" placeholder="Lorem ipsum dolor sit amet.">
                <label for="form-placeholder">Placeholder</label>
            </fieldset>

            
            <fieldset class="md-form">
                <input type="text" id="form-prefilled" class="form-control" value="Lorem ipsum dolor sit amet.">
                <label for="form-prefilled">Prefilled</label>
            </fieldset>
            
        </div>
            
            
        <!--Grid column-->
        <div class="col-md-5 offset-lg-1">

            <!-- ???? -->
            <fieldset class="md-form">
                <input type="email" id="form-email" class="form-control validate">
                <label for="form-email" data-success="right" data-error="wrong">Validate: email</label>
            </fieldset>

       
            <fieldset class="md-form">
                <input type="password" id="form-valid" class="form-control validate">
                <label for="form-valid" data-success="right" data-error="wrong">Validate: password</label>
            </fieldset>
            <!-- ???? -->

            <fieldset class="md-form">
                <textarea type="text" id="textarea" class="md-textarea"></textarea>
                <label for="textarea">Basic</label>
            </fieldset>

            <fieldset class="md-form">
                <i class="fa fa-pencil prefix"></i>
                <textarea type="text" id="textarea-prefixed" class="md-textarea"></textarea>
                <label for="textarea-prefixed">Prefixed</label>
            </fieldset>

            <fieldset>
                <input type="reset" class="btn btn-warning" value="Reset" />
            </fieldset>


        </form>


        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-12">
            
        </div>
        <!--Grid column-->
    
    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row mt-5">
    
        <!--Grid column-->
        <div class="col-md-12">
    
            
                
        </div>
        <!--Grid column-->
    
    </div>
    <!--Grid row-->
    
    <br><hr><br><br>
<!--                                                                                1-->
    
<!--Form with header-->
    <!--Grid column-->
        <div class="col-md-5">
            
            <div class="card">
                <div class="card-body">

                    <!--Header-->
                    <div class="form-header default-color">
                        <h3><i class="fa fa-lock"></i> Login:</h3>
                    </div>

                    <!--Body-->
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="text" id="defaultForm-email" class="form-control">
                        <label for="defaultForm-email">Your email</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="defaultForm-pass" class="form-control">
                        <label for="defaultForm-pass">Your password</label>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-default">Login</button>
                    </div>

                </div>

                <!--Footer-->
                <div class="modal-footer">
                    <div class="options">
                        <p>Not a member? <a href="#">Sign Up</a></p>
                        <p>Forgot <a href="#">Password?</a></p>
                    </div>
                </div>
                
            </div>
    </div>
    <!--/Form with header-->
<br><br><br>
<!--                                                                            2-->
    <!--Grid column-->
        <div class="col-md-5">
            
      
        <!--Form without header-->
        <div class="card">
            <div class="card-body">

                <!--Header-->
                <div class="text-center cyan-text">
                    <h3><i class="fa fa-lock cyan-text"></i> Login:</h3>
                    <hr class="my-4">
                </div>

                <!--Body-->
                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="cyanForm-email" class="form-control">
                    <label for="cyanForm-email">Your email</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="cyanForm-pass" class="form-control">
                    <label for="cyanForm-pass">Your password</label>
                </div>

                <div class="text-center">
                    <button class="btn btn-info">Login</button>
                </div>

            </div>

            <!--Footer-->
            <div class="modal-footer">
                <div class="options">
                    <p>Not a member? <a href="#">Sign Up</a></p>
                    <p>Forgot <a href="#">Password?</a></p>
                </div>
            </div>

        </div>
        <!--/Form without header-->

 <br><br><br>
    
<!--                                                                             3-->
        <!--Naked Form-->
        <div class="card-body">

            <!--Header-->
            <div class="text-center deep-purple-text">
                <h3><i class="fa fa-lock deep-purple-text"></i> Login:</h3>
                <hr class="mt-2 mb-2">
            </div>

            <!--Body-->
            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="text" id="dpurpleForm-email" class="form-control">
                <label for="dpurpleForm-email">Your email</label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="dpurpleForm-pass" class="form-control">
                <label for="dpurpleForm-pass">Your password</label>
            </div>

            <div class="text-center">
                <button class="btn btn-deep-purple">Login</button>
            </div>

        </div>

        <!--Footer-->
        <div class="modal-footer">
            <div class="options">
                <p>Not a member? <a href="#">Sign Up</a></p>
                <p>Forgot <a href="#">Password?</a></p>
            </div>
        </div>
        <!--Naked Form-->

    <br><br><br>
                                
<!--                                                                            4-->
          
        <!--Form with header-->
        <div class="card">
            <div class="card-body">

                <!--Header-->
                <div class="form-header orange-gradient">
                    <h3><i class="fa fa-user"></i> Register:</h3>
                </div>

                <!--Body-->
                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="orangeForm-name" class="form-control">
                    <label for="orangeForm-name">Your name</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="orangeForm-email" class="form-control">
                    <label for="orangeForm-email">Your email</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="orangeForm-pass" class="form-control">
                    <label for="orangeForm-pass">Your password</label>
                </div>

                <div class="text-center">
                    <button class="btn btn-deep-orange">Sign up</button>
                    <hr>
                    <fieldset class="form-group">
                        <input type="checkbox" id="checkbox1">
                        <label for="checkbox1">Subscribe me to the newsletter</label>
                    </fieldset>
                </div>

            </div>
        </div>
        <!--/Form with header-->
  
           <br><br><br>
            
<!--                                                                            5-->
           
        <!--Form without header-->
        <div class="card">
            <div class="card-body">

                <!--Header-->
                <div class="text-center pink-text">
                    <h3><i class="fa fa-pencil pink-text"></i> Subscribe:</h3>
                    <hr class="mt-2 mb-2">
                </div>

                <!--Body-->
                <p>We'll write rarely, but only the best content.</p>
                <br>

                <!--Body-->
                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="pinkForm-name" class="form-control">
                    <label for="pinkForm-name">Your name</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="pinkForm-email" class="form-control">
                    <label for="pinkForm-email">Your email</label>
                </div>

                <div class="text-center">
                    <button class="btn btn-pink">Send</button>
                </div>

            </div>
        </div>
        <!--/Form without header-->
 
            
        <br><br><br> 
            
            
<!--                                                                            6-->
            
        <!--Naked Form-->
        <div class="card-body">

            <!--Header-->
            <div class="text-center">
                <h3><i class="fa fa-envelope"></i> Write to us:</h3>
                <hr class="mt-2 mb-2">
            </div>

            <!--Body-->
            <p>We'll write rarely, but only the best content.</p>
            <br>

            <!--Body-->
            <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="contactForm-name" class="form-control">
                <label for="contactForm-name">Your name</label>
            </div>

            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="text" id="contactForm-email" class="form-control">
                <label for="contactForm-email">Your email</label>
            </div>

            <div class="md-form">
                <i class="fa fa-tag prefix grey-text"></i>
                <input type="text" id="contactForm-subj" class="form-control">
                <label for="contactForm-subj">Subject</label>
            </div>

            <div class="md-form">
                <i class="fa fa-pencil prefix grey-text"></i>
                <textarea type="text" id="contactForm-mess" class="md-textarea"></textarea>
                <label for="contactForm-mess">Icon Prefix</label>
            </div>

            <div class="text-center">
                <button class="btn btn-default">Submit</button>

                <div class="call">
                    <br>
                    <p>Or would you prefer to call?
                        <br>
                        <span><i class="fa fa-phone"> </i></span> + 01 234 565 280</p>
                </div>
            </div>

        </div>
        <!--Naked Form-->

    
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="../../js/popper.min.js"></script>
<script src="../../js/bootstrap.js"></script>
<script src="../../js/modules/forms-free.js"></script>
<script src="../../js/modules/waves.js"></script>
<script src="../../js/modules/wow.js"></script>
</body>

</html>
