<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Material Design for Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../css/mdb.css">
</head>

<body>

<div class="container">
    <!--Grid row-->
    <div class="row mt-5">
    
        <!--Grid column-->
        <div class="col-md-12">
    
            <div class="jumbotron">
              <h1 class="display-4">Hello, world!</h1>
              <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <hr class="my-3">
              <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
              <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
              </p>
            </div>
                
        </div>
        <!--Grid column-->
    
    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row mt-5">
    
        <!--Grid column-->
        <div class="col-md-12">
    
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">Fluid jumbotron</h1>
                <p class="lead mt-2">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
              </div>
            </div>
                
        </div>
        <!--Grid column-->
    
    </div>
    <!--Grid row-->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="../../js/bootstrap.js"></script>

</body>

</html>
