<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Material Design for Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../css/mdb.css">
</head>

<body>
<div class="container">
    <h2 class="doc-title my-2">Basic example</h2>
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-md-5">
            <!--Panel-->
            <div class="card card-body">
                <h4 class="card-title">Panel title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="flex-row">
                    <a class="card-link">Card link</a>
                    <a class="card-link">Another link</a>
                </div>
            </div>
            <!--/.Panel-->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->

    <h2 class="doc-title my-2">Header and footer</h2>
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-md-5">
            <!--Panel-->
            <div class="card">
                <div class="card-header deep-orange lighten-1 white-text">
                    Featured
                </div>
                <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-deep-orange">Go somewhere</a>
                </div>
            </div>
            <!--/.Panel-->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row mt-2">
        <!--Grid column-->
        <div class="col-md-5">
            <!--Panel-->
            <div class="card">
                <h6 class="card-header primary-color white-text">Featured</h6>
                <div class="card-body">
                    <h4 class="card-title"><strong>Special title treatment</strong></h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <!--/.Panel-->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-md-5 mt-2">
            <!--Panel-->
            <div class="card text-center">
                <div class="card-header success-color white-text">
                    Featured
                </div>
                <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-success btn-sm">Go somewhere</a>
                </div>
                <div class="card-footer text-muted success-color white-text">
                    <p>2 days ago</p>
                </div>
            </div>
            <!--/.Panel-->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
    
    <br><br>

    <h2 class="doc-title my-2">Background variants</h2>
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-md-6">
            <!--Card Primary-->
            <div class="card indigo text-center z-depth-2">
                <div class="card-body">
                    <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </div>
            </div>
            <!--/.Card Primary-->
            <br/>
            <!--Card Danger-->
            <div class="card pink lighten-2 text-center z-depth-2">
                <div class="card-body">
                    <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </div>
            </div>
            <!--/.Card Danger-->
            <br/>
            <!--Card Success-->
            <div class="card info-color text-center z-depth-2">
                <div class="card-body">
                    <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </div>
            </div>
            <!--/.Card Success-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-6">
            <!--Card Warning-->
            <div class="card red lighten-1 text-center z-depth-2">
                <div class="card-body">
                    <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </div>
            </div>
            <!--/.Card Warning-->
            <br/>
            <!--Card Info-->
            <div class="card success-color text-center z-depth-2">
                <div class="card-body">
                    <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </div>
            </div>
            <!--/.Card Info-->
            <br/>
            <!--Card Default-->
            <div class="card mdb-color lighten-2 text-center z-depth-2">
                <div class="card-body">
                    <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </div>
            </div>
            <!--/.Card Default-->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
    
    <br<br><br><br>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="../../js/bootstrap.js"></script>
<script src="../../js/modules/waves.js"></script>

</body>

</html>
