<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Material Design for Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../css/mdb.css">
</head>

<body>

<!--Main Navigation-->
<header>



</header>
<!--Main Navigation-->

<!--Main Layout-->
<main>

    <div class="container">
      
        <!--Grid row-->
        <div class="row my-5">
        
            <!--Grid column-->
            <div class="col-lg-3 col-md-12">
                
                <fieldset class="form-group">
                    <input name="group1" type="radio" id="radio1">
                    <label for="radio1">Option 1</label>
                </fieldset>

                <fieldset class="form-group">
                    <input name="group1" type="radio" id="radio2">
                    <label for="radio2">Option 2</label>
                </fieldset>

                <fieldset class="form-group">
                    <input name="group1" type="radio" id="radio3">
                    <label for="radio3">Option 3</label>
                </fieldset>
        
            </div>
            <!--Grid column-->
        
            <!--Grid column-->
            <div class="col-lg-3 col-md-6">
        
                <fieldset class="form-group">
                    <input name="group2" type="radio" class="with-gap" id="radio4">
                    <label for="radio4">Option 1</label>
                </fieldset>

                <fieldset class="form-group">
                    <input name="group2" type="radio" class="with-gap" id="radio5">
                    <label for="radio5">Option 2</label>
                </fieldset>

                <fieldset class="form-group">
                    <input name="group2" type="radio" class="with-gap" id="radio6">
                    <label for="radio6">Option 3</label>
                </fieldset>
        
            </div>
            <!--Grid column-->
        
            <!--Grid column-->
            <div class="col-lg-6 col-md-6">
        
                <form class="form-inline">

                    <fieldset class="form-group">
                        <input name="group1" type="radio" id="radio11" checked="checked">
                        <label for="radio11">Option 1</label>
                    </fieldset>

                    <fieldset class="form-group">
                        <input name="group1" type="radio" id="radio21">
                        <label for="radio21">Option 2</label>
                    </fieldset>

                    <fieldset class="form-group">
                        <input name="group1" type="radio" id="radio31">
                        <label for="radio31">Option 3</label>
                    </fieldset>

                </form>
        
            </div>
            <!--Grid column-->
        
        </div>
        <!--Grid row-->

    </div>

</main>
<!--Main Layout-->

<!--Footer-->
<footer>



</footer>
<!--Footer-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.9.9/umd/popper.js"></script>
<script src="../../js/bootstrap.js"></script>

</body>

</html>
