<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Material Design for Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../css/mdb.css">
</head>

<body>

<div class="container">

    <h4 class="my-2">Checkbox</h4>

    <div class="row">
    
        <!--Grid column-->
        <div class="col">
    
            <select class="mdb-select colorful-select dropdown-primary" multiple>
                <optgroup label="team 1">
                    <option value="1" >Option 1</option>
                    <option value="2">Option 2</option>
                </optgroup>
                <optgroup label="team 2">
                    <option value="3" >Selected</option>
                    <option value="" disabled>Disabled</option>
                </optgroup>
            </select>
            <label>Optgroup</label>
                
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col">
    
            
            <select class="mdb-select colorful-select dropdown-primary" multiple>
                <option value="" disabled >Choose your option</option>
                <option value="1" selected>Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            <label>Multiple</label>

                
        </div>
        <!--Grid column-->
    
    </div>
    <!--Grid row-->





<!-- asdsadasd -->
    <!--Grid row-->
    <div class="row">
    
        <!--Grid column-->
        <div class="col">
    
            <select class="mdb-select colorful-select dropdown-primary">
                <optgroup label="team 1">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                </optgroup>
                <optgroup label="team 2">
                    <option value="3" selected>Selected</option>
                    <option value="" disabled>Disabled</option>
                </optgroup>
            </select>
            <label>Optgroup</label>
                
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col">
    
            <div class="md-form">
                <select class="mdb-select" searchable="Search here.." multiple>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3" selected>Option 3</option>
                    <option value="" disabled>choose</option>
                </select>
                <label>Select with search</label>
            </div>
            
                
        </div>
        <!--Grid column-->
    
    </div>
    <!--Grid row-->




</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="../../js/modules/jquery.easing.js"></script>
<script src="../../js/modules/velocity.min.js"></script>
<script src="../../js/modules/character-counter.js"></script>
<script src="../../js/popper.min.js"></script>
<script src="../../js/bootstrap.js"></script>
<script src="../../js/modules/dropdown.js"></script>
<script src="../../js/modules/mdb-autocomplete.js"></script>
<script src="../../js/modules/forms-free.js"></script>
<script src="../../js/modules/file-input.js"></script>
<script src="../../js/modules/range-input.js"></script>
<script src="../../js/modules/material-select.js"></script>
<script src="../../js/modules/waves.js"></script>

<!-- Indeterminate test -->
<script>
$(".mdb-select").material_select(); 


</script>
</body>

</html>
