<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Material Design for Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../css/mdb.css">
</head>

<body>

<!-- SECTION-->
    <section id="horizontal-steppers">
        <h1 class="doc-title doc-first">Horizontal Steppers <a target="_blank" href="https://mdbootstrap.com/product/material-design-for-bootstrap-pro/" class="btn btn-danger">Premium component</a></h1>

        <p class="lead">Steppers display progress through a sequence by breaking it up into multiple logical and numbered steps.</p>

        <!-- Live preview -->   
    
        <!-- Horizontal Steppers -->
        <div class="row">
            <div class="col-md-12">
                
                <!-- Stepers Wrapper -->
                <ul class="stepper stepper-horizontal">
                   
                    <!-- First Step -->
                    <li class="completed">
                        <a href="#!">
                            <span class="circle">1</span>
                            <span class="label">First step</span>
                        </a>

                    </li>
                    
                    <!-- Second Step -->
                    <li class="active">
                        <a href="#!">
                            <span class="circle">2</span>
                            <span class="label">Second step</span>
                        </a>

                    </li>
                    
                    <!-- Third Step -->
                    <li class="warning">
                        <a href="#!">
                            <span class="circle"><i class="fa fa-warning"></i></span>
                            <span class="label">Third step</span>
                        </a>
                    </li>
                    
                </ul>
                <!-- /.Stepers Wrapper -->

            </div>
        </div>
        <!-- /.Horizontal Steppers -->

        <!-- /.Live preview -->
    </section>
    <!-- SECTION-->

    <!-- SECTION-->
    <section id="vertical-steppers">
        <h2 class="doc-title">Vertical Steppers <a target="_blank" href="https://mdbootstrap.com/product/material-design-for-bootstrap-pro/" class="btn btn-danger">Premium component</a></h2>

        <!-- Live preview -->
        
        <!-- Vertical Steppers -->
        <div class="row m-t-1">
            <div class="col-md-12">
                
                <!-- Stepers Wrapper -->
                <ul class="stepper stepper-vertical">
                   
                   <!-- First Step -->
                    <li class="completed">
                        <a href="#!">
                            <span class="circle">1</span>
                            <span class="label">First step</span>
                        </a>
                    </li>
                    
                    <!-- Second Step -->
                    <li class="active">
                       
                        <!--Section Title -->
                        <a href="#!">
                            <span class="circle">2</span>
                            <span class="label">Second step</span>
                        </a>
                        
                        <!-- Section Description -->
                        <div class="step-content grey lighten-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse cupiditate voluptate facere iusto quaerat vitae excepturi, accusantium ut aliquam repellat atque nesciunt nostrum similique. Inventore nostrum ut, nobis porro sapiente.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore error excepturi veniam nemo repellendus, distinctio soluta vitae at sit saepe. Optio eaque quia excepturi adipisci pariatur totam, atque odit fugiat.</p>
                            <p>Deserunt voluptatem illum quae nisi soluta eum perferendis nesciunt asperiores tempore saepe reiciendis, vero quod a dolor corporis natus qui magni quas fuga rem excepturi laboriosam. Quisquam expedita ab fugiat.</p>
                        </div>
                    </li>
                    
                    <!-- Third Step -->
                    <li class="warning">
                        <a href="#!">
                            <span class="circle"><i class="fa fa-warning"></i></span>
                            <span class="label">Third step</span>
                        </a>
                    </li>
                    
                    <!-- Fourth Step -->
                    <li>
                        <a href="#!">
                            <span class="circle">4</span>
                            <span class="label">Fourth step</span>
                        </a>
                    </li>
                    
                </ul>
                <!-- /.Stepers Wrapper -->

            </div>
        </div>
        
        <!-- Steppers Navigation -->
        <div class="row m-t-1">
            <div class="col-md-12 text-right">
                <button class="btn-flat waves-effect">Cancel</button>
                <button class="btn btn-primary">Next</button>
            </div>
        </div>
        <!-- /.Vertical Steppers -->
    </section>
    <!-- SECTION-->




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="../../js/popper.min.js"></script>
<script src="../../js/bootstrap.js"></script>
<script src="../../js/modules/dropdown.js"></script>


</body>

</html>